.DS_Store
.idea
.python-version

venv

secrets
.env

#test script
test.sh

# Files related to bat testing
test/bats
test/test_helper
#Folders created by the createCa.sh script
cacerts
certs
usercerts
crl
newcerts
pfxfiles
privatekeys
requests
revoked

#Files created by the createCa.sh script
index.*
serial*
crlnumber*
openssl.cnf
openssl.cnf.bak
options.cnf
options.cnf.bak

#Files created by the startNginx.sh script
littleCAnginx.conf

submodules

